<li class="item small-6 medium-4 large-3 columns">
	<ul class="pricing-table" data-category="{{type}}">
		<li class="title">{{title}}</li>
		<li class="price">{{price}}</li>
		<li class="description">{{description}}</li>
		<li class="bullet-item"><span>{{type}}</span></li>
		<li class="cta-button"><a class="button" href="{{link}}">Link</a></li>
	</ul>
</li>