<div class="item panel small-6 medium-4 large-3 columns project data-language='{{language}}' data-stars='{{stars}}'' data-issues='{{issues}}'">
	<h4 class="title"><a href='#'>{{title}}</a></h4>
	<h6 class="url"><a href="{{sitelink}}">{{sitelink}}</a></small></h6>
	<ul class="stats">
		<li title="stars bullet-item">
			<i class="fa fa-star"></i>
			<span class="stat">{{stars}}</span>
			<span class="trend up" title="Difference since last week">25<i class='fa fa-caret-up'></i></span></li>
		<li title="forks bullet-item">
			<i class="fa fa-code-fork"></i>
			<span class="stat">{{forks}}</span>
			<span class="trend " title="Difference since last week">0</span></li>
		<li title="issues bullet-item">
			<i class="fa fa-bug"></i>
			<span class="stat">{{issues}}</span>
			<span class="trend" title="Difference since last week">0</span></li>
	</ul>
	<div class="description">{{description}}</div>
	<dl>
		<dt>Language:</dt><dd>{{language}}</dd>
		<dt>Templates:</dt><dd>{{templates}}</dd>
		<dt>License:</dt><dd>{{licence}}</dd>
	</dl>
</div>
